[data-theme='RocketWheelMAX'] {
  --color-primary-2: #ffa000;
  --color-primary-5: #ffffad;
  --color-warning: #fdd835;
  --bright_ellow: #fdd835;
  --darck_ellow: #fdd835;
  --gadient_start: #fdd835;
  --gadient_end: #fdd835;
}
